.board {
	display:grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;

}

.square {
	background-color: beige
	border-color:;

}

.square-double-letter {
	background-color:cyan;
}

.square-double-word {
	background-color: pink;
}

.square-triple-letter {
	background-color: blue;
	color:white;
}

.square-triple-word {
	background-color: red
	color:white;
}