.board {
	display:grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
	background-color: black;

}

.square {
	background-color: beige

}

.square-double-letter {
	background-color:cyan;
}

.square-double-word {
	background-color: pink;
}

.square-triple-letter {
	background-color: blue
}

.square-triple-word {
	background-color: red
}