<html>
<head>
	 <!-- <link rel="stylesheet" href="homepage/static/style.css"> -->
	 {% load static %}
 	 <link rel="stylesheet" href="{% static "homepage/style.css" %}">

	<title>
		KrishnaKahn.com
	</title>
</head>

<body>
	<h1>
		Krishna's Website
	</h1>
	<div class = "links">
		<div class = "app_link">
			<a href = "scrabble">My Scrabble AI (not up yet)</a> || <a href="sudoku">Sudoku Solver</a>
		</div>
	</div>
	<div class = "paragraph_container">
	<h2>
		About me:
	</h2>
		<p>
			&emsp;
			I am a recent graduate from Hamilton College. I primarily code in Python, but I have some experience in JS as well. This site is coded from scratch using HTML, CSS, JS and Django (For anything Python-based)
		</p>
	</div>
</body>
</html>